/* Grid layout code based on: https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_image_gallery */

.row, .column, .grid-cell {
    box-sizing: border-box; /* size of the containers will not possibly extend past boundaries if additional padding is added*/
}

.row {
    display: flex; /* items will stretch to fit container */
    flex-wrap: wrap; /* Whether or not the grid items wrap around: https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap */ 
    padding: 0 75px; /* Space from right and left to outside of element*/
    margin: 0 auto;
    align-items: center;
}

/* Create 2 equal columns that sit next to each other */
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 6px;
}

.grid-cell {
    width: 100%;
    vertical-align: middle;
    padding: 10px 30px;
}

/******** DEBUGGING ********/
/* .column div{ 
    border: 3px blue solid;
} */

.column img {
    display: block; /* must be declared in order to center imgs */
    margin: 0px auto; /* all imgs within columns are now centered within the column */
    max-width: 100%; /* So that the image doesn't overflow */
}

/* ----------- Custom widths ----------- */

.grid {
    max-width: 1200px; /* Prevents columns from being too fat */
    padding: 120px 0; /* Prevents columns from touching top of div element */
}

.grid div.column {
    padding-bottom: 60px;
}

.projects-grid {
    max-width: 1200px; /* Prevents columns from being too fat */
    padding: 120px 0; /* Prevents columsn from touching top of div element */
}

.projects-grid .column {
    padding: 0px 10px 0px 60px; /* top right bottom left */
}

.projects-grid .grid-cell {
    position: relative;
    margin-bottom: 70px;
}

.projects-grid .grid-cell#intuit {
    padding: 85px 0px 85px 0px;
}

.projects-grid .grid-cell .contentBx {
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.95);
    /* transformation source code: https://www.youtube.com/watch?v=Qf3pza8ZhcA */
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
}

.projects-grid .grid-cell:hover .contentBx {
    transition: transform 0.5s; 
    transform-origin: left;
    transform: scaleX(1);
}

.projects-grid .contentBx .content {
    position: relative;
    padding: 20px 60px;
    opacity: 0;
}

.projects-grid .contentBx:hover .content {
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.3s;
}

.projects-grid .contentBx .content h3 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

.projects-grid .contentBx .content p {
    color: #fff;
    font-weight: 300;
}

/* Responsive layout so that two columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}