/* ---------------- Main page ---------------- */

/* Define colors */
:root {
    --black: #000000;
    --white: #ffffff;
    --dark-blue: #0052af;
    --yellow: #fff455;
}

body {
    margin: 0px;
    padding: 0px;
    /* font-family: "Gill Sans", sans-serif;  */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--dark-blue);
}

/* Header based on code from: https://www.w3schools.com/css/css_navbar_horizontal.asp */
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-item {
    float: left;  /* Use float to get block elements to slide next to each other */
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #111;
}

/* Text Formatting */ 

p.about_paragraph {
    font-size: 22px;
    padding: 100px;
}
