/* ---------------- Main page ---------------- */

/* Define colors */
:root {
    --black: #000000;
    --white: #ffffff;
    --blue: #1e87ff;
    --bright-blue: #a9ddff;
    --bright-green: #59ffb2;
    --yellow: #fff455;
    --orange: #ff9c4a;
}

.wrapper, .section {
    width: 100vw;
}

body {
    margin: 0px;
    padding: 0px;
    /* font-family: "Gill Sans", sans-serif;  */
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--black);
}

/* ---------- Navbar ---------- */

/* Header based on code from: https://www.w3schools.com/css/css_navbar_horizontal.asp */
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-item {
    float: left;  /* Use float to get block elements to slide next to each other */
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #111;
}

/* ---------- Intro Page ---------- */

img#propic { 
    border: solid 3px;
    box-shadow: 12px 12px 0px var(--blue);
}

img#carat {
    margin: 6vh auto 0vh 200px; /* vh = view height, vw = view width */
}

p.about_paragraph {
    font-size: 22px;
    /* padding: 100px; */
}


/* ---------- Text properties ---------- */

.text_center {
    /* display: table-cell;  for some reason this line doesn't center it */
    text-align: center;
    vertical-align: middle; 
}

h1 {
    font-size: 50px;
}

/* Highlight code based on: https://thirtyeightvisuals.com/blog/low-highlight-heading-links-squarespace */
.highlight-blue {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, var(--bright-blue) 50%);
}

.highlight-yellow {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, var(--yellow) 50%);
}

.highlight-green {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, var(--bright-green) 50%);
}

.highlight-orange {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, var(--orange) 50%);
}

/* ------------- subpages ------------- */

.subpage-wrapper {
    padding: 120px 0;
}
  
/* .subpage-wrapper h3 {
    padding-bottom: 24px;
} */
